---
import { Image } from "astro:assets";
---

<div class="min-h-[calc(100vh-90px)] py-10 relative">
  <div
    class="container relative flex flex-col lg:min-h-[calc(100vh-90px)] 2xl:min-h-[881px] h-full lg:flex-row items-center"
  >
    <div class="hidden lg:block lg:basis-[50%]"></div>
    <div class="basis-full lg:basis-[50%] space-y-8">
      <div>
        <h1
          class="text-[3rem] font-semibold font-jakarta leading-[110%] xl:text-[4.5rem]"
        >
          Your Software <br />
          Development <br />
          <span class="text-secondary">Partner.</span>
        </h1>
      </div>
      <p class="text-[#A1A3C5] font-normal leading-[150%] max-w-[477px]">
        Hire our team of passionate software developers for short-term,
        recurring, and full-time work.
      </p>
      <div
        class="w-[104px] rounded-full cursor-pointer h-[104px] bg-secondary grid place-items-center"
      >
        <p class="text-base font-bold font-jakarta">Let’s Talk</p>
      </div>
    </div>
    <a
      href="#scroll-down-hero"
      id="scroll-down-hero"
      class="absolute bottom-2 lg:bottom-24 right-6 lg:right-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="54"
        height="78"
        viewBox="0 0 54 78"
        fill="none"
      >
        <path
          d="M1.18021e-06 50.7089C14.9117 50.7089 27 62.9275 27 78"
          stroke="white"
          stroke-width="1.6"></path>
        <path
          d="M54 50.7089C39.0883 50.7089 27 62.9275 27 78"
          stroke="white"
          stroke-width="1.6"></path>
        <path d="M27 75.076L27 12.6962" stroke="white" stroke-width="1.6"
        ></path>
        <path
          d="M27 12.6962C27 6.23657 21.8193 0.999999 15.4286 0.999999C9.03788 1 3.85718 6.23657 3.85718 12.6962C3.85718 19.1558 9.03788 24.3924 15.4286 24.3924L53.5217 24.3924"
          stroke="white"
          stroke-width="1.6"></path>
      </svg>
    </a>
  </div>
  <Image
    src={"/images/hero.webp"}
    alt={"hero image"}
    width={600}
    quality={"max"}
    format="webp"
    height={1000}
    class={"lg:absolute -z-10 xl:max-w-[450px] 2xl:max-w-[550px]  lg:max-w-[380px] left-0 top-0"}
  />
  <ul
    class="flex absolute bottom-[14%] lg:bottom-[30%] left-2 lg:left-12
   flex-row items-center gap-x-4"
  >
    <li>
      <a href="http://" target="_blank" rel="noopener noreferrer"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="33"
          viewBox="0 0 32 33"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 30.5C23.732 30.5 30 24.232 30 16.5C30 8.76801 23.732 2.5 16 2.5C8.26801 2.5 2 8.76801 2 16.5C2 23.4003 6.99207 29.1346 13.5617 30.2884V20.7816H10V16.8301H13.5617V13.8184C13.5617 10.3929 15.6548 8.5 18.8603 8.5C20.3945 8.5 22 8.76699 22 8.76699V12.1311H20.2302C18.4877 12.1311 17.9452 13.1857 17.9452 14.267V16.8301H21.8356L21.2137 20.7816H17.9452V30.3345C17.27 30.4379 16.5801 30.4936 15.8779 30.4995C15.9185 30.4998 15.9593 30.5 16 30.5Z"
            fill="white"></path>
        </svg></a
      >
    </li>
    <li>
      <a href="http://" target="_blank" rel="noopener noreferrer"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <path
            d="M11.7887 28C8.55374 28 5.53817 27.0591 3 25.4356C5.15499 25.5751 8.95807 25.2411 11.3236 22.9848C7.76508 22.8215 6.16026 20.0923 5.95094 18.926C6.25329 19.0426 7.6953 19.1826 8.50934 18.856C4.4159 17.8296 3.78793 14.2373 3.92748 13.141C4.695 13.6775 5.99745 13.8641 6.50913 13.8174C2.69479 11.0882 4.06703 6.98276 4.74151 6.09635C7.47882 9.88867 11.5812 12.0186 16.6564 12.137C16.5607 11.7174 16.5102 11.2804 16.5102 10.8316C16.5102 7.61092 19.1134 5 22.3247 5C24.0025 5 25.5144 5.71275 26.5757 6.85284C27.6969 6.59011 29.3843 5.97507 30.2092 5.4432C29.7934 6.93611 28.4989 8.18149 27.7159 8.64308C27.7224 8.65878 27.7095 8.62731 27.7159 8.64308C28.4037 8.53904 30.2648 8.18137 31 7.68256C30.6364 8.52125 29.264 9.91573 28.1377 10.6964C28.3473 19.9381 21.2765 28 11.7887 28Z"
            fill="white"></path>
        </svg></a
      >
    </li><li>
      <a href="http://" target="_blank" rel="noopener noreferrer"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <path
            d="M25.625 8.4375C25.625 9.57659 24.7016 10.5 23.5625 10.5C22.4234 10.5 21.5 9.57659 21.5 8.4375C21.5 7.29841 22.4234 6.375 23.5625 6.375C24.7016 6.375 25.625 7.29841 25.625 8.4375Z"
            fill="white"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 22.875C19.797 22.875 22.875 19.797 22.875 16C22.875 12.203 19.797 9.125 16 9.125C12.203 9.125 9.125 12.203 9.125 16C9.125 19.797 12.203 22.875 16 22.875ZM16 20.125C18.2782 20.125 20.125 18.2782 20.125 16C20.125 13.7218 18.2782 11.875 16 11.875C13.7218 11.875 11.875 13.7218 11.875 16C11.875 18.2782 13.7218 20.125 16 20.125Z"
            fill="white"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2.25 15.45C2.25 10.8296 2.25 8.51935 3.1492 6.75458C3.94015 5.20224 5.20224 3.94015 6.75458 3.1492C8.51935 2.25 10.8296 2.25 15.45 2.25H16.55C21.1704 2.25 23.4806 2.25 25.2454 3.1492C26.7978 3.94015 28.0598 5.20224 28.8508 6.75458C29.75 8.51935 29.75 10.8296 29.75 15.45V16.55C29.75 21.1704 29.75 23.4806 28.8508 25.2454C28.0598 26.7978 26.7978 28.0598 25.2454 28.8508C23.4806 29.75 21.1704 29.75 16.55 29.75H15.45C10.8296 29.75 8.51935 29.75 6.75458 28.8508C5.20224 28.0598 3.94015 26.7978 3.1492 25.2454C2.25 23.4806 2.25 21.1704 2.25 16.55V15.45ZM15.45 5H16.55C18.9056 5 20.5069 5.00214 21.7446 5.10327C22.9503 5.20177 23.5668 5.38032 23.9969 5.59946C25.0318 6.12677 25.8732 6.96816 26.4005 8.00305C26.6197 8.43315 26.7982 9.04971 26.8967 10.2554C26.9979 11.4931 27 13.0944 27 15.45V16.55C27 18.9056 26.9979 20.5069 26.8967 21.7446C26.7982 22.9503 26.6197 23.5668 26.4005 23.9969C25.8732 25.0318 25.0318 25.8732 23.9969 26.4005C23.5668 26.6197 22.9503 26.7982 21.7446 26.8967C20.5069 26.9979 18.9056 27 16.55 27H15.45C13.0944 27 11.4931 26.9979 10.2554 26.8967C9.04971 26.7982 8.43315 26.6197 8.00305 26.4005C6.96816 25.8732 6.12677 25.0318 5.59946 23.9969C5.38032 23.5668 5.20177 22.9503 5.10327 21.7446C5.00214 20.5069 5 18.9056 5 16.55V15.45C5 13.0944 5.00214 11.4931 5.10327 10.2554C5.20177 9.04971 5.38032 8.43315 5.59946 8.00305C6.12677 6.96816 6.96816 6.12677 8.00305 5.59946C8.43315 5.38032 9.04971 5.20177 10.2554 5.10327C11.4931 5.00214 13.0944 5 15.45 5Z"
            fill="white"></path>
        </svg></a
      >
    </li>
  </ul>
</div>
