---
import { Image } from "astro:assets";
import about1 from "../../../public/images/about-1.png";
import about2 from "../../../public/images/about-2.png";
---

<>
  <main>
    <div class="swiper-body">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide bg-black">
            <div class="grid w-full lg:grid-cols-2 gap-10">
              <div class="flex lg:max-w-[518px] flex-col gap-y-4">
                <div>
                  <div
                    style="box-shadow: 3.74px 3.74px 0px 0px #36425B;"
                    class="w-[56px] text-[#0E0F10] text-lg font-bold flex justify-center items-center h-[46px] bg-white rounded-full border border-[#2D3340]"
                  >
                    01
                  </div>
                </div>
                <div>
                  <h3 class="text-2xl font-bold text-white">Our Story</h3>
                </div>
                <div>
                  <p
                    class="text-[#A1A3C5] text-left text-base lg:text-lg leading-[166%] font-inter"
                  >
                    Founded in 2020, On Codes has grown from a small team of
                    passionate developers into a promising software development
                    firm. Our journey has been marked by continuous improvement,
                    innovation, and a relentless pursuit of excellence. Despite
                    being a small team, we believe in creating solutions that
                    not only meet the immediate needs of our clients but also
                    anticipate future challenges and opportunities.
                  </p>
                </div>
              </div>
              <div class="relative">
                <Image
                  class={" object-cover rounded-[24px]   z-30 inset-0 w-full h-full"}
                  src={about1}
                  alt={"about"}
                />
              </div>
            </div>
          </div>
          <div class="swiper-slide bg-black">
            <div class="grid w-full lg:grid-cols-2 gap-10">
              <div class="flex lg:max-w-[518px] flex-col gap-y-4">
                <div>
                  <div
                    style="box-shadow: 3.74px 3.74px 0px 0px #36425B;"
                    class="w-[56px] text-[#0E0F10] text-lg font-bold flex justify-center items-center h-[46px] bg-white rounded-full border border-[#2D3340]"
                  >
                    02
                  </div>
                </div>
                <div>
                  <h3 class="text-2xl font-bold text-white">Our Story</h3>
                </div>
                <div>
                  <p
                    class="text-[#A1A3C5] text-left text-base lg:text-lg leading-[166%] font-inter"
                  >
                    Our mission is to deliver high-quality, efficient, and
                    secure systems that drive success and growth for our
                    clients. We strive to build long-term partnerships based on
                    trust, transparency, and mutual respect.
                  </p>
                </div>
              </div>

              <div class="relative rounded-[24px] w-full after:h-full ]">
                <Image
                  class={" object-cover rounded-[24px]   z-30 inset-0 w-full h-full"}
                  src={about2}
                  alt={"about"}
                />
              </div>
            </div>
          </div>
          <div class="swiper-slide bg-black">
            <div class="grid w-full lg:grid-cols-2 gap-10">
              <div class="flex lg:max-w-[518px] flex-col gap-y-4">
                <div>
                  <div
                    style="box-shadow: 3.74px 3.74px 0px 0px #36425B;"
                    class="w-[56px] text-[#0E0F10] text-lg font-bold flex justify-center items-center h-[46px] bg-white rounded-full border border-[#2D3340]"
                  >
                    03
                  </div>
                </div>
                <div>
                  <h3 class="text-2xl font-bold text-white">Our Values</h3>
                </div>
                <div>
                  <p
                    class="text-[#A1A3C5] text-left text-base lg:text-lg leading-[166%] font-inter"
                  >
                    Our mission is to deliver high-quality, efficient, and
                    secure systems that drive success and growth for our
                    clients. We strive to build long-term partnerships based on
                    trust, transparency, and mutual respect.
                  </p>
                </div>
              </div>

              <div
                class="relative rounded-[24px] flex flex-col gap-y-8 w-full after:h-full ]"
              >
                <Image
                  class={" object-cover rounded-[24px]   z-30 inset-0 w-full h-full"}
                  src={about2}
                  alt={"about"}
                />
              </div>
            </div>
          </div>
          <div class="swiper-slide bg-black">
            <div class="grid w-full lg:grid-cols-2 items-center gap-10">
              <div class="flex lg:max-w-[518px] flex-col gap-y-4">
                <div>
                  <div
                    style="box-shadow: 3.74px 3.74px 0px 0px #36425B;"
                    class="w-[56px] text-[#0E0F10] text-lg font-bold flex justify-center items-center h-[46px] bg-white rounded-full border border-[#2D3340]"
                  >
                    04
                  </div>
                </div>
                <div>
                  <h3 class="text-2xl font-bold text-white">Our Values</h3>
                </div>

                <div class="flex flex-col gap-y-2">
                  <div class="flex items-center gap-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <circle cx="10" cy="10" r="10" fill="#D92B2C"></circle>
                      <circle
                        cx="3"
                        cy="3"
                        r="3"
                        transform="matrix(1 0 0 -1 7 13)"
                        fill="white"></circle>
                    </svg>
                    <h4 class="text-xl font-semibold text-white">Passion</h4>
                  </div>
                  <p class="text-base text-[#A1A3C5] font-normal">
                    We’re passionate about helping our clients, our teammates,
                    and our business succeed. We believe in the power of
                    technology to transform businesses and improve lives.
                  </p>
                </div>
                <div class="flex flex-col gap-y-2">
                  <div class="flex items-center gap-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <circle cx="10" cy="10" r="10" fill="#D92B2C"></circle>
                      <circle
                        cx="3"
                        cy="3"
                        r="3"
                        transform="matrix(1 0 0 -1 7 13)"
                        fill="white"></circle>
                    </svg>
                    <h4 class="text-xl font-semibold text-white">
                      Improvement
                    </h4>
                  </div>
                  <p class="text-base text-[#A1A3C5] font-normal">
                    We constantly look for a better way and challenge each other
                    not to accept the status quo. Continuous learning and
                    development are at the core of our culture.
                  </p>
                </div>
                <div class="flex flex-col gap-y-2">
                  <div class="flex items-center gap-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <circle cx="10" cy="10" r="10" fill="#D92B2C"></circle>
                      <circle
                        cx="3"
                        cy="3"
                        r="3"
                        transform="matrix(1 0 0 -1 7 13)"
                        fill="white"></circle>
                    </svg>
                    <h4 class="text-xl font-semibold text-white">
                      Accountability
                    </h4>
                  </div>
                  <p class="text-base text-[#A1A3C5] font-normal">
                    We take total ownership of our actions and outcomes as
                    individuals, as teams, and as a company. We believe in
                    taking responsibility and delivering on our promises.
                  </p>
                </div>
              </div>

              <div
                class="relative rounded-[24px] flex flex-col gap-y-8 w-full after:h-full ]"
              >
                <div class="space-y-5">
                  <div class="flex flex-col gap-y-2">
                    <div class="flex items-center gap-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <circle cx="10" cy="10" r="10" fill="#D92B2C"></circle>
                        <circle
                          cx="3"
                          cy="3"
                          r="3"
                          transform="matrix(1 0 0 -1 7 13)"
                          fill="white"></circle>
                      </svg>
                      <h4 class="text-xl font-semibold text-white">Teamwork</h4>
                    </div>
                    <p class="text-base text-[#A1A3C5] font-normal">
                      As a small team, we go above and beyond for each other,
                      working to our strengths, asking for help as needed, and
                      happily assisting others. We believe that great things are
                      achieved through collaboration.
                    </p>
                  </div>
                  <div class="flex flex-col gap-y-2">
                    <div class="flex items-center gap-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <circle cx="10" cy="10" r="10" fill="#D92B2C"></circle>
                        <circle
                          cx="3"
                          cy="3"
                          r="3"
                          transform="matrix(1 0 0 -1 7 13)"
                          fill="white"></circle>
                      </svg>
                      <h4 class="text-xl font-semibold text-white">
                        Reliability
                      </h4>
                    </div>
                    <p class="text-base text-[#A1A3C5] font-normal">
                      We work towards long-term, consistent success. We believe
                      in building solutions that stand the test of time.
                    </p>
                  </div>
                  <div class="flex flex-col gap-y-2">
                    <div class="flex items-center gap-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <circle cx="10" cy="10" r="10" fill="#D92B2C"></circle>
                        <circle
                          cx="3"
                          cy="3"
                          r="3"
                          transform="matrix(1 0 0 -1 7 13)"
                          fill="white"></circle>
                      </svg>
                      <h4 class="text-xl font-semibold text-white">
                        Transparency
                      </h4>
                    </div>
                    <p class="text-base text-[#A1A3C5] font-normal">
                      We’re open and honest with each other, proactively seeking
                      and giving feedback to enable improvement. We believe that
                      transparency fosters trust and collaboration.
                    </p>
                  </div>
                  <div class="flex flex-col gap-y-2">
                    <div class="flex items-center gap-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <circle cx="10" cy="10" r="10" fill="#D92B2C"></circle>
                        <circle
                          cx="3"
                          cy="3"
                          r="3"
                          transform="matrix(1 0 0 -1 7 13)"
                          fill="white"></circle>
                      </svg>
                      <h4 class="text-xl font-semibold text-white">
                        Simplicity
                      </h4>
                    </div>
                    <p class="text-base text-[#A1A3C5] font-normal">
                      We eliminate everything unnecessary to focus on what’s
                      truly important. We believe in creating solutions that are
                      elegant and easy to use.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </main>

  <style>
    .swiper-body {
      position: relative;
      height: 600px;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      color: black;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    main {
      margin: auto;
      padding: 1.5rem;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);
      background-color: white;
      padding: 1rem;
      border-radius: 0.4rem;
    }
  </style>

  <script src="../../js/slider_simple.js"></script>
</>
