---
import Layout from "../layouts/Layout.astro";
import Contact from "./_components/Contact.astro";
import Hero from "./_components/Hero.astro";
import Services from "./_components/Services.astro";
import Technologies from "./_components/Technologies.astro";
import Testimonials from "./_components/Testimonials.astro";
import WebsiteDevelopment from "./_components/WebsiteDevelopment.astro";
import WelcometoOnCodes from "./_components/WelcometoOnCodes.astro";
---

<Layout title="On Codes">
  <main>
    <Hero />
    <WelcometoOnCodes />
    <Testimonials />
    <Services />
    <WebsiteDevelopment />
    <Technologies />
    <Contact />
  </main>
</Layout>
