---
import Layout from "../layouts/Layout.astro";
import Hero from "./_components/Hero.astro";
import WelcometoOnCodes from "./_components/WelcometoOnCodes.astro";
---

<Layout title="On Codes">
  <main>
    <Hero />
    <WelcometoOnCodes />
  </main>
</Layout>
